@model IList<MedicalCorporateWebPortal.Models.PatientViewModel>

@{
    ViewData["Title"] = "DoctorPatientRecordConform";
}

<h2>Выберите пациента</h2>

<div class="emp_search">
    <form class="form-wrapper">
        <input type="text" id="search" placeholder="Вася Пупкин и тд" required>
        <input type="submit" value="найти" id="submit">
    </form>
</div>

@using (Html.BeginForm("", "", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Название услуги</td>
            <td>Время</td>
        </tr>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.PatientLastName</td>
                <td>@patient.PatientFirstName</td>
                <td>
                    @Html.ActionLink("Записать", "DoctorPatientRecordConform", "Doctor", new { @patientId = patient.PatientId, @doctorId = patient.DoctorId, @date = patient.Date, @serviceId = patient.ServiceId }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    </table>
}

