body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ECECEC;  
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.inline{
    display: inline-block;
    margin: 30px;
}

#parent {
    text-align: center;
    height: 800px;
    width: 800px;
}

.block {
    text-align: center;
    background-color: #00BFFF;
}

.brd{
    border: 20px;
    border-color: red;
    background: #ffffff;
    text-align:center;
    padding: 5px;
}

.schedule-header{
    text-align:center;
    height:50px;
    width:100%;
    padding: 10px;
    border: 1px solid grey;
}

.schedule-day-header{
    position: relative;
    text-align:center;
    padding: 10px;
    width: 20%;
    height: 50px;
    display: inline-block;
    border: 1px solid grey;
    float: left;
}

.change-service{
    width: 100%;
    height: 85px;
    border: 1px solid grey;
}

.steps-breadcrumb-name{
    text-align:center;
    padding: 10px;
    width: 70px;
    position:relative;
    display:block;
}

.service-select{
    position: relative;
    width: 70%;
    margin-left: 5px;
    display: inline-block;
}

.schedule-week{
    width: 100%;
    height: 390px;
    border: 1px solid grey;
    overflow: hidden;
}

.schedule-day{
    padding: 10px;
    text-align: center;
    height: 310px;
    width: 20%;
    display: inline-block;
    float: left;
    border: 1 px solid grey;
}

.beige-box {
    border: 1 px solid black;
    border-color: #F5F5DC;
}

.record-ticket-header{
    text-align:left;
    color: grey;
}

.record-ticket-cost{
    border-top: 1 px solid grey;
    border-bottom: 1 px solid grey;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #ECECEC;
    font-size: 20px;
}

.login_form{
    width: 100%;
}

ul.login_form{
    color: black;
    background-color: white;
    width: 100%;
    list-style: none;
    font-size: 15px;
    padding: 10px 0 15px 0;
    border-bottom: 2px solid #DCDCDC;       
}

ul.login_form li{
    text-align: right;
    padding-bottom: px;  
    margin-right: 15px;
    display: inline;
}

ul.header_url{
    padding: 5px;
    list-style: none;
}

ul.header_url li{
    margin: 15px;
    display: inline; 
    margin-right: 5px; 
    padding: 5px; 
    text-decoration: none;
    border: solid 1px #E9003A ;
}
ul.header_url a:link {
    border-radius: 10px;
    color: white;
    padding: 5px;
    border: solid 1px #E9003A ;
    text-decoration: none;
    margin-right: 5px;
    
}
ul.header_url a:visited{
    color: white;
}
ul.header_url a:hover {
    background: #970026 ;
    border-radius: 10px;
    color: white;
    padding: 5px;
    border: solid 1px #E9003A ;
    text-decoration: none; 
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
.header {
    background-color: #E9003A;
    color: azure;
    text-align: center;
    padding: 1%;
    font-size: 20px;
}

.main_name{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.forward_header{
    background-color: white;
    width: 100%;
    height: 90px;
        
}
.content{
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: #ECECEC;
}

.white_content_box{
    height: 20px;
    border-radius: 2px;
    border: solid 1px #ECECEC ;
}

.record-confirm-info-block{
    background-color: white;
    width: 30%;
    padding: 2%;
    position: absolute;
    left: 0;
    margin: auto;
    display: inline-block;
}

.record-confirm-contrls-block{
    background-color: white;
    padding: 2%;
    margin: auto;
    display: inline-block;
    position: absolute;
    left: 40%;
}

.tr-border-bottom td{
    border-bottom: 2px solid black;
}

.td-font-weight{
    font-weight:900;
}

.img_slider{
    border-radius: 5px;
    margin: center;
}

.word-center{

}

.info_main_block{
    background-color: white;
    height: 100%;
    width: 80%;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #DCDCDC;
    padding: 2%;
    text-align: justify;
}

.pic_top{
    border-radius: 2px;
}

.info_top{
    text-align: center;
    font-size: 30px;
    padding: 2%;
    border-bottom: 2px solid #DCDCDC;
}

.info_main{
    padding: 1%;
    text-align: justify;
    font-size: 17px;
    text-indent: 1.5em;
    list-style-position:inside;
}

.emp_box{
    margin-top: 10px;
    margin-left: 10px;
    background: white;
    width: 30%;
    height: 270px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border: solid 1px #e8e8e8;
    text-align: center;
}

.doc_item{
    padding: 20px;
    position: relative;
}

.doc_img{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-color: #f5f5f5;
    background-position: 50% 50%;
    background-size: cover;
    
}

.doc_name{
    text-align: center;
    padding: 4px;
}

.record-days{
    text-align: center;
    padding: 4px;
    margin: auto;
}

.record-day{
    margin: 1pt;
    display: inline;
}

.doc_spec{
    font-size: 15px;
}

.name_ser{
    font-size: 25px;
    color: black;
    text-indent: 1.5em;
    padding: 2%;
    
}

.text_ser{
    line-height: 24px;
    font-size: 15px;
    list-style: none;
    padding: 2%;
    margin: 1%;

}

.emp_info_box {
    padding: 2%;
    width: 80%;
}

ul.emp_info_spec{
    list-style: none;
    padding: 2%;
    width: 100%;
    height: 100%;
}

ul.emp_info_spec li{
    left: 120px;
    display: inline;
    margin-right: 5px;
    margin-top: 100 auto;
}

ul.emp_info_spec li.name{
    display: inline;
    margin-right: 5px;
    font-size: 40px;
    
}
ul.emp_info_spec li.spec{
    font-size: 20px;
}

ul.contacts_box{
    list-style: none;
    font-size: 20px;
}
ul.contacts_box li{
    padding: 1%;
}

ul.contacts_box li img{
    margin: 0px 10px 0px 0px
}
.footer{
    background-color: #E9003A;
    text-align: center;
    color: white;
    font-size: 15px;
    width: 80%;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #DCDCDC;
    margin-bottom: 5px;
    padding: 2px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    position: center;
    width: 100%;
    height: 450px;
}

.carousel{
    width: 60%;
    position: center;
    margin: auto;
}

ul{
    white-space: nowrap;
    margin-left: auto;
}

/*окно поиска*/
.emp_source{
    display: block;
    float: right;
    
}

.form-wrapper {
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
	border-color: #dedede #bababa #aaa #bababa;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: center;
	overflow: hidden;
	padding: 8px;
	width: 98%
}

.form-wrapper #search {
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 80%;
	padding: 10px;
	width: 85%;
}

.form-wrapper #search:focus {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}

.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #submit {
	background-color: #EC644B;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF416C), to(#FF4B2B));
	background-image: -webkit-linear-gradient(top, #FF416C, #FF4B2B);
	background-image: -moz-linear-gradient(top, #FF416C, #FF4B2B);
	background-image: -ms-linear-gradient(top, #FF416C, #FF4B2B);
	background-image: -o-linear-gradient(top, #FF416C, #FF4B2B);
	background-image: linear-gradient(top, #FF416C, #FF4B2B);
	border: 1px solid #EC644B;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	color: #fafafa;
	cursor: pointer;
	height: 42px;
	float: right;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 12%;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
	background-color: #BD3F32;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CB356B), to(#BD3F32));
	background-image: -webkit-linear-gradient(top, #CB356B, #BD3F32);
	background-image: -moz-linear-gradient(top, #CB356B, #BD3F32);
	background-image: -ms-linear-gradient(top, #CB356B, #BD3F32);
	background-image: -o-linear-gradient(top, #CB356B, #BD3F32);
	background-image: linear-gradient(top, #CB356B, #BD3F32);
}

.form-wrapper #submit:active {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
	border: 0;
}

/*окно поиска услуг и цен*/


form {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #A7ACB0;
  border-radius: 5px;
  outline: none;
  background: white;
  color: #A7ACB0;
}
.d1 button {
    position: absolute; 
  top: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  border: none;
  background: #A7ACB0;
  border-radius: 0 0px 5px 0;
  cursor: pointer;
}
.d1 button:before {
  font-size: 16px;
  color: white;
}


/* список */

}
span.msg,
span.choose {
  color: black;
  padding: 5px 0 10px;
  display: inherit    
}
.emp_menu{
    right: 10%;
    bottom: 69%;
    width: 500px;
    margin-left: 5px;
}




.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: black;
  height: 100%;
  text-align: left;
    
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
/* слайдер*/

.slider-box{
    margin: auto;
  width:1002px;
  height:100%;
  overflow:hidden;
}
.slider{
  position:relative;
  width:10000px;
  height:210px;
}
.slider img{
  float:left;
  z-index:0;
}
	
	

/* QR code generator */
#qrCode {
    margin: 15px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
