@model IEnumerable<MedicalCorporateWebPortal.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
}

<h3>Выберите месяц</h3>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "row" }))
{

<div class="form-group col-md-3">
    <div class="input-group date datepicker-inline">
        <input type="text" class="form-control" />
        <div class="input-group-addon glyphicon glyphicon-th"></div>
    </div>
</div>
    <input type="submit" value="Найти"/>
}
<br />

@using (Html.BeginForm("", "", FormMethod.Get, new { @class = "info_main_block" }))
{
    <p class="info_top">Рабочие</p>

    <table class="table">
        <tr class="tr-border-bottom">
            <td class="td-font-weight">Фамилия</td>
            <td class="td-font-weight">Имя</td>
            <td class="td-font-weight">Специальность</td>
            <td class="td-font-weight">Отработанных часов</td>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.DoctorLastName</td>
                <td>@employee.DoctorFirstName</td>
                <td>@employee.DoctorSpecilty</td>
                <td>@employee.WorkedTime</td>
            </tr>
        }
    </table>
}
