@using MedicalCorporateWebPortal.Models;
@model Tuple<User, Doctor, IEnumerable<DateOfAppointment>, IEnumerable<DoctorProvideService>>

@{
    ViewData["Title"] = "Специалисты";
}

@using (Html.BeginForm("DoctorProfile", "Doctor", FormMethod.Get))
{
    <div>
        <div>
            <div class="inline">
                <img src="~/images/default-user-image.png" alt="avatar" width="100" height="75" />
            </div>
            <div class="inline">
                <h1>@string.Format("{0} {1}", Model.Item1.LastName, Model.Item1.FirstName)</h1>
                <b>@Model.Item2.Speciality</b>
            </div>
        </div>
        <div>
            @if (Model.Item3.Count() > 0)
            {
                <input type="button" value="Запись на прием" href="" class="btn btn-block" width="100" height="60" />
            }
            else
            {
                <div class="btn btn-block">Запись на прием</div>
            }
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    @if (Model.Item3.Count() > 0)
                    {
                        <a href="@Url.Action("Schedules", "Schedule", new { @doctorId = Model.Item2.ID, @serviceId = 1 })">
                            <span>Расписание</span>
                        </a>
                    }
                    else
                    {
                        <div class="col-md-1">Расписание</div>
                    }
                </li>
                <li>
                    @if (Model.Item4.Count() > 0)
                    {
                        <a href="">
                            <span>Услуги</span>
                        </a>
                    }
                    else
                    {
                        <div class="col-md-1">Услуги</div>
                    }
                </li>
            </ul>
        </div>
    </div>
}
