@{
    ViewData["Title"] = "Информация";
}

<div class="info_main_block">
    <p class="info_top">О клинике</p>
    <img src="~/images/kb_udp.jpg" width="40%" style="margin: auto; display: block">
    <p class="info_main">
        Наша поликлиника является крупным многопрофильным лечебно-профилактическим учреждением системы Кремлевской медицины, оснащенным новейшим лечебно-диагностическим оборудованием.

        Штат сотрудников состоит из высококвалифицированного медицинского персонала. Прием и лечение пациентов осуществляется врачами более чем 35 специальностей ежедневно с 8:00 до 20:00, в субботние дни - с 8:00 до 14:00, обслуживание на дому - с 9:00 до 17:00. Скорая медицинская помощь с бригадой реанимации работает круглосуточно.

        Высокое качество лечебно-диагностической, консультативной, реабилитационной и профилактической помощи, профессионализм врачей и медицинских сестер, внимательное отношение к проблемам здоровья людей создали нашей поликлинике отличную репутацию среди пациентов.

        Главными задачами учреждения являются сохранение высокого уровня оказания медицинской помощи, совершенствование методов организации работы, приобретение новейшей аппаратуры, внедрение инновационных методов диагностики и лечения, развитие материально-технической базы, создание условий для комфорта и удобства при посещении поликлиники.
    </p>
</div>
