@{
    ViewData["Title"] = "Контакты";
}

<div class="info_main_block">
    <p class="info_top">Наши контакты</p>
    <ul class="contacts_box">

        <li><img src="~/images/pin (1).png">994953, Москва, ул. Вавилова, 63</li>

        <li><img src="~/images/clock-circular-outline.png">С 8:00 до 20:00</li>

        <li><img src="~/images/call-answer.png">745-23-32 (приемная)</li>
        <li><img src="~/images/call-answer.png">361-05-78 (регистратура)</li>

        <li><img src="~/images/message.png">noreply@noemail.local</li>
    </ul>
</div>
<div class="white_content_box"></div>
